#u1303-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u3145-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u3144-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u3139-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u3141-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u3153-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u3147-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u3152-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u3234-3
{
	font-family: ubuntu-n4, sans-serif;
}

#u3237-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u3249-3
{
	font-family: ubuntu-n4, sans-serif;
}

#u3250-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u3268-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u3269-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u3267-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u3279-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u3280-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u3281-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u3285-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u3286-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u3284-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u3259-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u3260-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u3261-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u3271-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u3272-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u3273-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u3290-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u3288-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u3289-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u3276-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u3277-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u3275-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u3297-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u3295-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u3296-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u3292-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u3291-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u3293-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u3265-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u3263-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u3264-4
{
	font-family: ubuntu-n4, sans-serif;
}

#widgetu3142_input,#widgetu3142_prompt,#widgetu3138_input,#widgetu3138_prompt,#widgetu3266_input,#widgetu3266_prompt,#widgetu3278_input,#widgetu3278_prompt,#widgetu3283_input,#widgetu3283_prompt,#widgetu3258_input,#widgetu3258_prompt,#widgetu3270_input,#widgetu3270_prompt,#widgetu3287_input,#widgetu3287_prompt,#widgetu3274_input,#widgetu3274_prompt,#widgetu3294_input,#widgetu3294_prompt,#widgetu3262_input,#widgetu3262_prompt
{
	font-family: ubuntu, sans-serif;
}

#u3255-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u1117-3
{
	font-family: ubuntu-n4, sans-serif;
}

#u1158-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u1160-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u1238-4
{
	font-family: ubuntu-n7, sans-serif;
}

#u3460-4
{
	font-family: ubuntu-n4, sans-serif;
}

