<html>
<head>
	<meta charset="UTF-8">
	<title>Inicio</title>
	<link rel="shortcut icon" href="images/favicon.ico"/>
	<link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Open+Sans'>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../styles/index.css">
</head>
<body>
	<div class="demo-cont">
		<div class="fnc-slider example-slider">
			<div class="fnc-slider__slides">
				<div class="fnc-slide m--blend-green m--active-slide">
					<div class="fnc-slide__inner">
						<div class="fnc-slide__mask">
							<div class="fnc-slide__mask-inner"></div>
						</div>
						<div class="fnc-slide__content">
							<h2 class="fnc-slide__heading">
								<div class="fnc-slide__heading-line">
									<span>Empresas y</span>
								</div>
								<div class="fnc-slide__heading-line">
									<span>Compañias</span>
								</div>
							</h2>
							<button type="button" class="fnc-slide__action-btn">
								Quienes Somos
								<span data-text="Quienes Somos">Quienes Somos</span>
							</button>
						  </div>
					</div>
				</div>
				<div class="fnc-slide m--blend-dark">
					<div class="fnc-slide__inner">
						<div class="fnc-slide__mask">
							<div class="fnc-slide__mask-inner"></div>
						</div>
						<div class="fnc-slide__content">
							<h2 class="fnc-slide__heading">
								<div class="fnc-slide__heading-line">
									<span>Trabajadores</span>
								</div>
								<div class="fnc-slide__heading-line">
									<span>y Empleados</span>
								</div>
							</h2>
							<button type="button" class="fnc-slide__action-btn">
								Quienes Somos
								<span data-text="Quienes Somos">Quienes Somos</span>
							</button>
						</div>
					</div>
				</div>
				<div class="fnc-slide m--blend-red">
					<div class="fnc-slide__inner">
						<div class="fnc-slide__mask">
							<div class="fnc-slide__mask-inner"></div>
						</div>
						<div class="fnc-slide__content">
							<h2 class="fnc-slide__heading">
								<div class="fnc-slide__heading-line">
									<span>Tiempo</span>
								</div>
								<div class="fnc-slide__heading-line">
									<span>Completo</span>
								</div>
							</h2>
							<button type="button" class="fnc-slide__action-btn">
								Quienes Somos
								<span data-text="Quienes Somos">Quienes Somos</span>
							</button>
						</div>
					</div>
				</div>
				<div class="fnc-slide m--blend-blue">
					<div class="fnc-slide__inner">
						<div class="fnc-slide__mask">
							<div class="fnc-slide__mask-inner"></div>
						</div>
						<div class="fnc-slide__content">
							<h2 class="fnc-slide__heading">
								<div class="fnc-slide__heading-line">
									<span>Medio</span>
								</div>
								<div class="fnc-slide__heading-line">
									<span>Tiempo</span>
								</div>
							</h2>
							<button type="button" class="fnc-slide__action-btn">
								Quienes Somos
								<span data-text="Quienes Somos">Quienes Somos</span>
							</button>
						</div>
					</div>
				</div>
			</div>
			<nav class="fnc-nav">
				<div class="fnc-nav__bgs">
					<div class="fnc-nav__bg m--navbg-green m--active-nav-bg"></div>
					<div class="fnc-nav__bg m--navbg-dark"></div>
					<div class="fnc-nav__bg m--navbg-red"></div>
					<div class="fnc-nav__bg m--navbg-blue"></div>
				</div>
				<div class="fnc-nav__controls">
					<button class="fnc-nav__control">
						Admin
						<span class="fnc-nav__control-progress"></span>
					</button>
					<button class="fnc-nav__control">
						TI
						<span class="fnc-nav__control-progress"></span>
					</button>
					<button class="fnc-nav__control">
						Mechanics
						<span class="fnc-nav__control-progress"></span>
					</button>
					<button class="fnc-nav__control">
						Building
						<span class="fnc-nav__control-progress"></span>
					</button>
				</div>
			</nav>
		</div>
		<div class="demo-cont__credits" align="center">
			<div class="demo-cont__credits-close"></div>
			<br>
			<br>
			<img src="img/logo_b.png">
			<br>
			<br>
		</div>
	</div>
</div>

<script src="../scripts/index.js"></script>
</body>
</html>