<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Busqueda</title>
	<link rel="shortcut icon" href="../images/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="../styles/estilo.css">
</head>
<form ng-submit="vm.remember()" role="form" class="form-horizontal" >
    <div class="well">
        <br>
		<p class="p1" align="center">Por favor Digite La Cuenta De Correo<br>Con La Que Realizó El Registro En IJob</p>
    <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
		<br>
        <input type="email" ng-disabled="vm.sended" required ng-model="vm.email" class="form-control" placeholder="Correo Electrónico">
        <br>
        <div align="center">
			<input type="submit" ng-disabled="vm.sended" class="btn btn-success" value="Confirmar">
			<input type="button" class="btn btn-default" value="Cancelar" ng-click="vm.cancel()">
			<span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">El Email Es Obligatorio</span>
		</div>
	</div>
</form>

<div class="{{vm.msg.className}}">{{vm.msg.content}}</div>